

nav .navbar{
    position: relative;
}

#logo{
    width: 8%;
    position: absolute;
    margin-top: 1%;
    left:0;
}

@media only screen and (max-width: 991px){
    /* #logo{
        position: relative;
    } */
    .navbar-toggler {
        position: relative;
    }
    #nav-element {
        display: flex;
        flex-direction: column;
    }
    .grid-img {
        left: 0;
        margin-left: 25%;
    }

    .blue-img{
        visibility: hidden;
    }
    
}

@media only screen and (max-width: 576px){
    .blue-img{
        /* top: 6px;
        left: 117px; */
        visibility: hidden;
    }
}
.navbar>.container-fluid{
    margin-top: 1.2%;
    margin-bottom: -8px;
    /* background-color: #2ad8d3; */
    background-color: #dbc3de;
    align-items: center;
    justify-content: flex-end;
}

#nav-element{
    margin-top: 0.5rem!important;
    margin-bottom: 0.5rem!important;
    /* display: flex;
    flex-direction: row; */
}

.navbar-nav .nav-link{
    color: black;
}

.nav-link:focus, .nav-link:hover {
    color: #9562ff;
}

.nav-item{
    font-weight: bold;
    font-size: 18px;
}
.navbar-nav .nav-link.active{
    color: #804ceb;
}

h2{
   color: #804ceb;
   margin-bottom: 30px;
   margin-top: 100px;
}


.grid-row{
    margin-bottom: 50px;
}

.blue-img{
    position: relative;
    top: 22px;
    left: 22px;
    width: 225px;
    transform: scale(0.8);  
}

.grid-row .grid-col:hover .blue-img{
    transform: scale(1);
}
.grid-img {
    position: absolute;
    top: 0;
    width: 236px;
    filter: grayscale(0.3);
    border-radius: 17px;
    /* left: 0; */
}

a:hover{
    color: #e032c7;   
}

img, svg {
    vertical-align: super;
}

.grid-row .grid-col{
    position: relative;
    top: 0;
    left: 0;
}

#video ul{
    margin-top: 35px;
    margin-bottom: 50px;
}

.team-row .team-col{
   
}

.member span {
    font-style: italic;
    display: block;
    font-size: 14px;
    color: #6c757d;
}

.member .social {
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.member .social a {
    color: #a2a2a2;
    transition: 0.3s;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #bbbbbb;
 }

 .member .social a:hover{
    color: #9562ff;
    border: 1px solid #8c61e9;
 }

.member .social i {
    font-size: 18px;
    margin: 0 2px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    filter: grayscale(0.7);
}

a {
    color: #804ceb;
    text-decoration: auto;
}

.container{
    /* margin-bottom: 200px; */
}

.owl-nav{
    position: absolute;
    top: 50%;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev{
    border-radius: 100%;
    width: 40px;
    height: 40px;
    background-color: #dbc3de;
    margin-top: 250px;
}
.owl-carousel button.owl-dot {
    margin-top: 25px;
    /* background: #dbc3de; */
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot span {
    background: #dbc3de;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #9562ff;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: #9562ff;
}

#main-carousel{
margin-bottom: 100px;
}

#client-carousel{
    width: 100%;
    z-index: 1;
    margin-top: 150px;
    margin-bottom: 150px;
    /* padding-left: 5%;
    padding-right: 5%; */
}

  .owl-carousel .owl-item img{
    max-width: 100%;
    height: auto;
  }
 #client-carousel .owl-item img{
    transition: 0.3s;
    width: 30%;
    height: 35px;
    margin-left: 50px;
    /* margin-top: 100px; */
  }

.owl-carousel.owl-drag .owl-item {
    /* margin-left: 50px; */
  }

.video-text{
    margin-bottom: 40px;
}
.video-img{
    width: 100%;
}

#team-text{
    margin-bottom: 40px;
}

@keyframes play-animation{
    from{
        transform: scale(100%,100%);
    }
    to{
        transform: scale(110%,110%);
        background: #9562ff;
        /* box-shadow: 10px 10px 10px 10px #9562ff; */
    }
}

@keyframes video-animation{
    from{
        transform: scale(100%,100%);
    }
    to{
        transform: scale(650%,650%);
    }
}

.play-btn {
    width: 75px;
    height:75px;
    background: #8c61e9;
    border-radius: 50%;
    display: block;
    position: absolute;
    left: calc(50% - 47px);
    top: calc(50% - 47px);
    overflow: hidden;
    /* transition: all 0.7s linear; */
    animation: play-animation 2s infinite;
}
.play-btn:hover .fa-solid{
    animation: video-animation 0.5s;
}

.clicked{
    display: block;
}

.fa-solid {
    color: #dbc3de;
    position: absolute;
    top: 36%;
    left: 41%;
    font-size: 25px;
}

.member{
    border-radius: 10px;
    padding: 15px;
    background-color: #e4d9e5;
    margin-inline: 15px;
    margin-block: 15px;
    /* padding-inline: 15px; */
    /* padding-block: 15px; */
}

  .footer-area .single-footer-widget h4 {
    margin-bottom: 23px;
    font-weight: 700;
    font-size: 24px;
}

.footer-area {
    background-color: #f9f8f3;
    padding: 100px 0px 25px;
    margin-top: 100px;
}

.footer-area .single-footer-widget p {
    font-size: 15px;
    color: #555555;
    line-height: 1.8;
}
.footer-area .copyright_part_text {
    border-top: 1px solid #e2e2e2;
    padding-top: 25px;
    margin-top: 83px;
}
.text-right {
    text-align: right!important;
}

.footer-area .copyright_social_icon a {
    margin-left: 20px;
    color: #969697;
}
.footer-area .btn {
    margin-top: 23px;
    background-color: #9562ff;
    color: #fff;
    width: 49px;
    border-radius: 0px;
    height: 38px;
}
.footer-area .copyright_social_icon a:hover {
    margin-left: 20px;
    color: #9562ff;
} 
.fab {
    font-family: 'Font Awesome 5 Brands';
}
.mb-3{
    display: flex;
    align-items: flex-end;
}


#frame {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    height: 383px;
    display: none;
}
#frame.clicked {
    display: block;
}

.scroll-top.active {
    visibility: visible;
    opacity: 1;
    bottom: 15px;
}
.scroll-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: -15px;
    z-index: 99999;
    background: #dbc3de;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    transition: all 0.4s;
}
.scroll-top:hover {
    background: #969697;
}

.scroll-top i {
    font-size: 24px;
    color: #8c61e9;
    /* line-height: 0; */
}
.scroll-top .fa-solid{
    left: 13px;
    top: 10px;
}

/* .contact_info{
    border-radius: 10px;
    background-color: #9562ff;
} */
.per-gallery {
    padding-inline: 15px;
    padding-block: 15px;
}
.per-gallery img{
    width: 100%;
    position: relative;
    z-index: 0;
    display: block;
    border-radius: 25px;
}
.per-gallery {
    position: relative;
    z-index: 1;
}
.per-gallery:before {
    content: "";
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    display: block;
    background: #8de1f5;
    position: absolute;
    z-index: 0;
    top: 0px;
    left: 0;
    margin-inline: 15px;
    margin-block: 15px;
    transition: all 0.1s linear;
    border-radius: 15px;
}

.per-gallery:hover:before {
    transform: translate(10px , 10px)
}
